body {
margin: auto;
background-color: #FFF8E1;
  }

/****************   Nav Section **********************/
nav {
	background-color: bisque;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
}

/***********************  Footer Section   **************************/
footer {
	display: flex;
  justify-content: center;
  background-color: bisque;
  padding: 8px;
}

/*********** Splash Page ************************/
header {
  text-align: center;
  margin-bottom: 20px;
  justify-content: center;


}

header h1 {
  display: flex;
  font-size: 3em;
  font-family: Varela, sans-serif;
  color: #3E2723;
  justify-content: center;

}

header img {
  border-radius: 6%;
  border: 3px solid #3E2723;
  width: 200px;
  height: auto;
  justify-content: center;
}

.address {
  display: flex;
  font-size: 0.9em;
  font-family: Varela, sans-serif;
  color: #3E2723;
  justify-content: center;
}

.tagline {
  display: flex;
  font-size: 1.2em;
  font-family: Varela, sans-serif;
  color: #3E2723;
  justify-content: center;
}

/************* Sections ********************/
hr {

}

section h3 {
font-size: 2.1em;
font-family: Varela, sans-serif;
color: #3E2723;
padding-left: 30px;
}

section dl {
  display: grid;
  padding-left: 10px;
}

section ul {
list-style-type: square;
padding-left: 20px;
}

section a {
color: burlywood;
text-decoration: none;
}

section a:hover {
  color: #8B4513;
}


/**************   Projects   *****************/
.three-col {
	display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px 8px 0 0; 
  object-fit: cover;
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  overflow: hidden;
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.75rem;
    }

    .three-col {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      gap: 1.25rem;
    }
}


/**************   Contact Page   *****************/
.one-col {
display: flex;
flex-direction: column;
align-items: center;
max-width: 500px;
margin: auto;
background-color: #ffffff;
box-shadow: inset 0 0 10px #ccc;
border-radius: 8px;
}

input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px; 

}

textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
